[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.11"

[packages]
flask = "*"
flask-wtf = "*"
pillow = "*"
numpy = "*"
matplotlib = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"

[scripts]
start = "gunicorn run:app --bind 0.0.0.0:$PORT"

